/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

html[data-theme='dark'] .heroBanner {
  background-color: #111;
  color: #f5f5f5;
}

html[data-theme='dark'] .buttons button {
  background-color: #333;
  color: #fff;
}

html[data-theme='dark'] .buttons button:hover {
  background-color: #555;
}
